OPENROUTER_API_KEY=
GITHUB_TOKEN=
OPENROUTER_IMAGE_MODEL=black-forest-labs/flux.2-flex
OPENROUTER_VIDEO_MODEL=bytedance/seedance-2.0-mini
OPENROUTER_AUDIO_MODEL=google/lyria-3-clip-preview
YOUTUBE_API_KEY=
WEB_PUSH_ENABLED=false
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=
